chicago_red_light_camera/.idea
chicago_red_light_camera/data
chicago_red_light_camera/out
chicago_red_light_camera/.RData
chicago_red_light_camera/.Rhistory
chicago_red_light_camera/data_preparation.pdf
chicago_red_light_camera/chicago_red_light_camera_files/figure-html/*